<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Pone un speaker</title>
    {{ form.media }}
</head>
<body>
    <script>
        function log_console(msg) {
            if (window.console) {
                window.console.log(msg);
            }
        }

        function ss_before_set(event, key, obj) {
            log_console("before setting " + key + " for " + JSON.stringify(obj));
        }

        function ss_after_set(event, key, obj) {
            log_console("after setting " + key + " for " + JSON.stringify(obj));
        }

        function ss_before_del(event, key) {
            log_console("before deleting " + key);
        }

        function ss_after_del(event, key) {
            log_console("after deleting " + key);
        }

        function ss_render(event, key, obj) {
            log_console("rendering " + key + " with " + JSON.stringify(obj));
            return "<a>SS Item: " + obj.label + "</a>";
        }

        function ms_before_add(event, key, obj) {
            log_console("before adding " + key + " for " + JSON.stringify(obj));
        }

        function ms_after_add(event, key, obj) {
            log_console("after adding " + key + " for " + JSON.stringify(obj));
        }

        function ms_before_rem(event, listbox, key, listbox_position) {
            log_console("before removing " + key + " from listbox " + $(listbox).attr('id') + ' at position ' + listbox_position);
        }

        function ms_after_rem(event, listbox, key, listbox_position) {
            log_console("after removing " + key + " from listbox " + $(listbox).attr('id') + ' at position ' + listbox_position);
        }

        function ms_render(event, key, obj) {
            log_console("rendering " + key + " with " + JSON.stringify(obj));
            return "<a>MS Item: " + obj.label + "</a>";
        }
    </script>
    <form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Enviar" />
    </form>
</body>
</html>